@model retrivingDataFromModule.ViewModel.IndexCustomarViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inex</h2>
<table><tr>
    <td>Name</td>
    <td>city</td>
    
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.city</td>



    </tr>
    
    </table>

